---
Language: Cpp

BasedOnStyle: Google

Standard: c++17

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

PointerAlignment: Left
ReferenceAlignment: Left

AccessModifierOffset: -4

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SpaceBeforeParens: ControlStatements

SortIncludes: false

NamespaceIndentation: None

Cpp11BracedListStyle: true